@charset "UTF-8";
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  /* Point de départ de l'animation */
  from {
    transform: rotate(0deg);
  }
  /* Point d'arrivée de l'animation */
  to {
    transform: rotate(360deg);
  }
}
@keyframes flottement {
  0% {
    transform: translateY(0px); /* Position de départ */
  }
  50% {
    transform: translateY(80px); /* Position haute */
  }
  100% {
    transform: translateY(0px); /* Retour à la position de départ */
  }
}
@keyframes move-clouds-left {
  to {
    transform: translateX(-300px);
  }
}
@keyframes fondu-glissement {
  from {
    /* État de départ de l'animation */
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    /* État final de l'animation */
    opacity: 1;
    transform: translateX(0); /* Le titre retrouve sa position initiale */
  }
}
/* Animation pour le mouvement flottant */
@keyframes floatMultipleDirections {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}
/* Une animation plus réaliste pour les chats */
@keyframes float4directionsEnhanced {
  0%, 100% {
    transform: translate(0, -10px) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-20px, 0) rotate(-5deg) scale(1.05);
  }
  50% {
    transform: translate(0, 10px) rotate(0deg) scale(1);
  }
  75% {
    transform: translate(20px, 0) rotate(5deg) scale(1.05);
  }
}
/* Float simple */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* animation nuages */
@keyframes move-clouds-300px {
  from {
    transform: translateX(0); /* Position de départ */
  }
  to {
    transform: translateX(-300px); /* Déplacement de 300px vers la gauche */
  }
}
/* animation logo-menu */
.logo-menu {
  max-width: 50%;
  height: auto;
  object-fit: contain;
  animation: float 4s ease-in-out infinite;
}

.section {
  opacity: 0; /* Initialement caché */
}

.fade-in-left {
  animation: fadeInLeft 1s forwards;
}

.fade-in-right {
  animation: fadeInRight 1s forwards;
}

.fade-in-up {
  animation: fadeInUp 1s forwards;
}

.fade-in-down {
  animation: fadeInDown 1s forwards;
}

.site-footer::after {
  padding: 0 60px;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#studio h2::before,
.site-footer::before,
.site-footer ul::after,
.story h2::after,
.story__article::after,
h2::after {
  /* Nom de l'animation */
  animation: spin 10s linear infinite;
  object-fit: cover;
}

/* section banner */
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.banner-image {
  background-image: url(../foce-child/assets/images/banner.png);
  width: 100%;
  height: auto;
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.main-character {
  margin-left: -550px;
  margin-bottom: -200px;
}

/* css pour swiper */
.swiper-container {
  display: flex;
  padding-top: 44px;
  width: 100%;
  height: 400px;
  transition: transform 0.5s;
}

.swiper-slide {
  width: 500px !important;
}

.swiper-slide-shadow-right,
.swiper-slide-shadow-coverflow {
  background: none;
}

.swiper-slide img {
  display: block;
  width: 400px !important;
  height: 300px !important;
}

#studio h2,
h3,
.main-character h3 {
  animation-name: fondu-glissement;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-timeline: view();
}

#story h2 {
  animation-name: fondu-glissement;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

.story #characters h3 {
  background-image: url("../images/orange_characters_bg.png") !important;
  display: flex;
  justify-content: flex-start;
  animation-name: fondu-glissement;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

/* article place */
#place {
  position: relative; /* Ajouté pour positionner les nuages par rapport à cette section */
  background-image: url("../images/Studio_Koukaki-image_place.png") !important;
  z-index: 1; /* S'assurer que l'arrière-plan est le calque le plus bas  */
}

/* section oscars */
#oscars {
  position: relative; /* Ajouté pour positionner les fleurs par rapport à cette section */
  width: 100%;
  padding: 2em 0; /* Ajoutez de l'espace en haut et en bas pour les fleurs */
  overflow: hidden;
}

.deux-fleurs {
  display: flex;
  justify-content: space-between;
}

#flower {
  animation: spin 10s linear infinite;
  object-fit: cover;
}

#oscars .oscars-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
  margin: auto;
}

/* Le conteneur principal qui positionne l'ensemble du bloc */
#oscars .h3-wrapper {
  flex: 1; /* Pour occuper l'espace dans un conteneur parent flex */
  position: relative; /* Essentiel pour pouvoir positionner le fond (le pseudo-élément ::before) */
  overflow: visible;
  padding: 1em; /* Ajoute de l'espace intérieur pour que le texte ne colle pas aux bords */
}

/* Styles pour le texte (un H3 qui serait à l'intérieur du wrapper) */
/* Il est préférable de cibler l'élément de texte réel (ex: h3) */
#oscars h3 {
  position: relative; /* Garantit que le texte reste au-dessus du fond */
  z-index: 1;
  /* Styles de la police */
  padding: 1.4em 0.7em;
  font-size: 42px;
  line-height: 1.25; /* Une valeur sans unité est plus flexible que '52.5px' */
  text-align: left;
  letter-spacing: -0.05em;
  /* Propriétés de l'image de fond */
  background-image: url(../images/orange-bg-oscars.png);
  background-size: cover;
  background-position: center; /* 'center' est souvent un meilleur choix par défaut */
  z-index: 1;
  margin: 0; /* On retire les marges par défaut du h3 pour éviter les interférences */
  box-sizing: border-box;
}

/* Le pseudo-élément qui va servir de fond */
.h3-wrapper::before {
  content: ""; /* Obligatoire pour qu'un pseudo-élément s'affiche */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* animation des deux nuages */
.clouds {
  flex-direction: column;
  align-items: flex-end !important;
  justify-content: flex-start;
  max-width: 640px !important;
  width: 100%;
  margin-left: auto;
  margin-top: -150px;
  z-index: 2;
}

.blur {
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -ms-filter: blur(12px);
}

.big-cloud {
  margin-top: 0;
  margin-bottom: 100px;
}

.little-cloud {
  margin-top: 0;
  align-self: flex-start;
}

/* desactiver les fleurs du haut dans le footer  */
.site-footer::before {
  content: none !important;
}
.site-footer::after {
  content: none !important;
}

/* css burger */
.site-header {
  top: 32px; /* Hauteur de la barre d'admin WordPress sur desktop */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.main-navigation {
  position: relative;
  z-index: 1002; /* Supérieur à l'en-tête */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px !important;
}

.main-navigation button {
  margin-right: 100px;
  margin-bottom: 10px;
}

/* Style du titre du site */
.site-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

/* Forcer l'affichage du menu burger et de ses lignes */
.menu-toggle,
.menu-toggle span {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

/* Style du bouton du menu burger */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
  background: none;
  border: 8px solid black;
  cursor: pointer;
  position: relative;
}

/* Style des lignes du menu burger */
.menu-toggle span {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
}

/* Positionnement initial des lignes */
.menu-toggle span:nth-child(1) {
  top: 0;
}

.menu-toggle span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
  bottom: 0;
}

/* Animation du menu burger en croix lorsqu'il est actif */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0 !important;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.menu-container {
  position: fixed;
  top: -100%; /* Commence en dehors de la vue */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 245, 233);
  z-index: 999;
  /*transition: top 0.5s ease, opacity 0.5s ease;*/ /* Transition pour l'effet */
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Utilise ease-in-out pour la transition */
  opacity: 0; /* Commence transparent */
  pointer-events: none; /* Désactive les interactions */
}

.menu-container.show {
  top: 0; /* Coulisse vers le bas */
  opacity: 1; /* Rend visible */
  pointer-events: auto; /* Active les interactions */
}

.menu-container ul {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  height: 100%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 120px;
}

.menu-content img {
  max-width: 25%;
  height: 100px;
}

/* //Supprimer les puces et les marges par défaut */
.menu-container ul {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Retire le padding par défaut */
  margin: 0; /* Retire la marge par défaut */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-content .menu-item a {
  color: #000; /* Couleur par défaut des liens */
  text-decoration: none;
  font-size: 3rem;
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Transition pour l'effet de hover */
  line-height: 5rem;
}

.menu-content .menu-item a:hover {
  text-shadow: 0 0 8px rgba(255, 99, 71, 0.8); /* Ajoute un effet de flou #ff6347 */
}

.menu-item-story {
  display: inline-block;
  margin: 0 10px; /* Espacement autour de l'image */
  position: relative;
}
.menu-item-story::after {
  content: "";
  display: block;
  width: 116px;
  height: 116px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/sunflower.png");
  position: absolute;
  right: -150%;
  top: -170%;
  animation: spin 10s linear infinite;
}
.menu-item-story::before {
  content: "";
  display: block;
  width: 116px;
  height: 116px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/orchid.png");
  position: absolute;
  right: 320%;
  top: -270%;
  animation: spin 10s linear infinite;
}

.menu-item-characters {
  display: inline-block;
  margin: 0 10px; /* Espacement autour de l'image */
  position: relative;
}
.menu-item-characters::before {
  content: "";
  display: block;
  width: 109px;
  height: 98px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/Kawaneko.png");
  position: absolute;
  left: -70.5%;
  top: -180.5%;
  animation: float4directionsEnhanced 8s ease-in-out infinite;
}
.menu-item-characters::after {
  content: "";
  display: block;
  width: 75px;
  height: 74px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/random_flower.png");
  position: absolute;
  right: -220%;
  top: -50.5%;
  animation: spin 10s linear infinite;
}

.menu-item-place {
  display: inline-block;
  margin: 0 10px; /* Espacement autour de l'image */
  position: relative;
}
.menu-item-place::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/flower.png");
  position: absolute;
  left: -380%;
  top: -80.5%;
  animation: spin 10s linear infinite;
}
.menu-item-place::after {
  content: "";
  display: block;
  width: 154px;
  height: 147px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/Jaakuna.png");
  position: absolute;
  right: -380%;
  top: -50.5%;
  animation: float4directionsEnhanced 8s ease-in-out infinite;
}

.menu-item-studio {
  display: inline-block;
  margin: 0 10px; /* Espacement autour de l'image */
  position: relative;
}
.menu-item-studio::before {
  content: "";
  display: block;
  width: 105px;
  height: 95px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/Tenshi.png");
  position: absolute;
  left: -100%;
  top: 60%;
  animation: float4directionsEnhanced 8s ease-in-out infinite;
}
.menu-item-studio::after {
  content: "";
  display: block;
  width: 605px;
  height: 295px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/hibiscus_footer.png");
  position: absolute;
  left: 200%;
  top: 60%;
  animation: float4directionsEnhanced 8s ease-in-out infinite;
}

/* css burger */
@media only screen and (max-width: 767px) {
  .background-video {
    display: none;
  }
  #oscars .oscars-content {
    display: none;
    flex-direction: column !important;
    width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
